body {
  background: rgb(103, 66, 230);
  background: linear-gradient(
    135deg,
    rgba(103, 66, 230, 1) 35%,
    rgba(114, 68, 237, 1) 100%
  );
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.error-image {
  max-width: 720px;
  width: 90%;
  margin: auto;
  text-align: center;
}

.error-image h1 {
  font-size: 120px;
  margin: 48px auto 20px;
}

.error-msg-container {
  margin: 18px auto 30px auto;
  max-width: 800px;
  width: 80%;
  text-align: center;
}

.error-msg-container h1 {
  font-size: 56px;
  max-width: 560px;
  margin: auto auto 24px; /* Space below the h1 */
}

.error-msg-container p {
  margin: 16px 0; /* Space between paragraphs */
}

.contact-options {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 30px 0 0 0;
}

.contact-button {
  display: inline-block;
  padding: 12px 24px;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
}

.email-button {
  background-color: #3b5998; /* Facebook-like blue color for Email */
}

.instagram-button {
  background-color: #e4405f;
}

.call-button {
  background-color: #25d366;
}
